
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{  font-family: "Lato",sans-serif;;
    font-family:"Open Sans",sans-serif ;
    font-family: "Work Sans",sans-serif;
}




/* Shared Styles */

.btn-primary{padding: 20px 25px ;color: #fff ;border-radius: 8px;background: #ff900e; font-size: 1.25rem;cursor:pointer;border:0;}
.text-light-grey{color: #727272;}
.section-title{font-size: 3rem ; font-weight: 700; color: #131313}






/* Header Section */
header{background-color: rgba(255,144, 14, 0.10);
    padding: 50px 240px;}

nav{display: flex ; justify-content: space-between; align-items: center;}

/* the ul is jsut the list items itself as a whole, make this go side by side with flex and then make the bullets go awau with none */
nav ul{ list-style: none; display: flex; }   
/* this is the list items, this makes the each list items or text seperate with the margin position */
nav li{margin-right: 30px;font-weight: 500; font-size: 18px; }

/* To remove the anchor underline use this */
nav a{text-decoration: none; color: 424242;}



.banner-content{max-width: 800px;text-align: center;margin: 0 auto;}
.banner-title{font-size: 4rem; font-weight: 700; color: #131313}
.banner-description{ color: #727272}
.banner img{width: 100%;margin-top: 20px;}


/* main styles */
main{max-width: 1440px; margin:70px auto;}


/* teams style */
.teams-container{display: flex;align-items: center;}
.teams-img-container{display:grid; grid-template-columns: repeat(2,1fr); gap:1.5rem;}
.teams-content{padding-right: 70px;padding-left:70px;}
.teams-title{font-size: 2.8rem;}
.teams-title .quick-list{color: #727272;font-weight:500 ;}
.teams-title .features{color:#FF900E;font-weight:700 ;}





/* facts section */
.facts-card-container {display: flex;justify-content: space-around;padding-top: 50px;padding-bottom: 50px;}
.facts-card-container .card{border-radius: 8px; border: 1px solid #ff900e;text-align: center; padding:30px;}
.facts-card-container .card-stats{font-size: 2.8rem;color: #424242; margin-top: 10px; margin-bottom: 10px;}
.facts-card-container .card-title {font-weight: 600; font-size: 1.25rem; margin-top: 5px;}
.feature-img img{height: 90%;margin-left: 90px;}



/* Features section */
.features{display: flex;margin-top: 130px; gap:100px ;}
.feature-content .card{border-radius:8px ; background:#fff; box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);padding: 15px 30px; margin-bottom: 20px;}
.feature-card-container{margin-top: 30px;}
.features .section-title{border-left: 5px solid #ff900e; padding-left: 20px;}
.ten-yr-badge{border-radius: 8px;background: #ff900e;color: white;width: 342px;padding: 40px;text-align: center;position: relative;bottom: 100px;}
.ten-yr-badge h2{font-size: 4rem; margin: 0px;}
.ten-yr-badge p{font-size: 1.5rem;}



/* sponsor section */
.sponsor{text-align: center;}
.sponsors-img-container{display: flex; justify-content:space-evenly; padding-top: 15px;}
.sponsors-img-container img{width: 165px;}











/* responsive media */
@media screen  and (max-width:576px)
{
    header {
        padding:20px;}
    nav, .teams-container, .facts-card-container,.sponsors-img-container,.features{ flex-direction: column;}

    .teams-img-container{grid-template-columns: 1fr;}

    .teams-content,.facts-card-container,.sponsors-img-container{padding-left: 20px;padding-right: 20px;}
    .facts-card-container{gap: 20px;}
    .sponsors-img-container{align-items: center;gap: 40px;}
    .feature-img img{width: 90%; margin-left: 10px;}
    .ten-yr-badge{position: static; max-width: 300px;
    }
}




/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px ) 
{

    header {
        padding:20px;}
    
    nav, .teams-container,.sponsors-img-container,.features{ flex-direction: column;}
    .sponsors-img-container{align-items: center;gap: 40px;}
    .facts,.sponsors{padding-left: 30px;padding-right: 2px;}
}
