
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{  font-family: "Lato",sans-serif;;
    font-family:"Open Sans",sans-serif ;
    font-family: "Work Sans",sans-serif;
}




/* Shared Styles */

.btn-primary{padding: 20px 25px ;color: #fff ;border-radius: 8px;background: #ff900e; font-size: 1.25rem;cursor:pointer;border:0;}
.text-light-grey{color: #727272;}
.section-title{font-size: 3rem ; font-weight: 700; color: #131313}






/* Header Section */
header{background-color: rgba(255,144, 14, 0.10);
    padding: 50px 240px;}

nav{display: flex ; justify-content: space-between; align-items: center;}

/* the ul is jsut the list items itself as a whole, make this go side by side with flex and then make the bullets go awau with none */
nav ul{ list-style: none; display: flex; }   
/* this is the list items, this makes the each list items or text seperate with the margin position */
nav li{margin-right: 30px;font-weight: 500; font-size: 18px; }

/* To remove the anchor underline use this */
nav a{text-decoration: none; color: 424242;}



.banner-content{max-width: 800px;text-align: center;margin: 0 auto;}
.banner-title{font-size: 4rem; font-weight: 700; color: #131313}
.banner-description{ color: #727272}
.banner img{width: 100%;margin-top: 20px;}


/* main styles */
main{max-width: 1440px; margin:70px auto;}


/* teams style */
.teams-container{display: flex;align-items: center;}
.teams-img-container{display:grid; grid-template-columns: repeat(2,1fr); gap:1.5rem;}
.teams-content{padding-right: 70px;padding-left:70px;}
.teams-title{font-size: 2.8rem;}
.teams-title .quick-list{color: #727272;font-weight:500 ;}
/* .teams-title .of{color: black;font-weight:500 ;} */
.teams-title .features{color:#FF900E;font-weight:700 ;}


/* facts section */
.facts-card-container {display: flex;justify-content: space-around;}
.facts-card-container .card{border-radius: 8px; border: 1px solid #ff900e;text-align: center; padding:30px;}
.facts-card-container .card-stats{font-size: 2.8rem;color: #424242; margin-top: 10px; margin-bottom: 10px;}
.facts-card-container .card-title {font-weight: 600; font-size: 1.25rem; margin-top: 5px;}



















/* responsive media */
@media screen  and (max-width:576px)
{
    header {
        padding:20px;}
    nav, .teams-container, .facts-card-container{ flex-direction: column;}

    .teams-img-container{grid-template-columns: 1fr;}

    .teams-content,.facts-card-container{padding-left: 20px;padding-right: 20px;}
    .facts-card-container{gap: 20px;}
}




/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px ) 
{

    header {
        padding:20px;}
    
    nav, .teams-container{ flex-direction: column;}
      
}
