
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{  font-family: "Lato",sans-serif;;
    font-family:"Open Sans",sans-serif ;
    font-family: "Work Sans",sans-serif;
}








/* Shared Styles */

.btn-primary{padding: 20px 25px ;color: #fff ;border-radius: 8px;background: #ff900e; font-size: 1.25rem;cursor:pointer;border:0;margin-top: 5px;}
.text-light-grey{color: #727272;}







/* Header Section */
header{background-color: rgba(255,144, 14, 0.10);
    padding: 50px 240px;}

nav{display: flex ; justify-content: space-between; align-items: center;}

/* the ul is jsut the list items itself as a whole, make this go side by side with flex and then make the bullets go awau with none */
nav ul{ list-style: none; display: flex; }   
/* this is the list items, this makes the each list items or text seperate with the margin position */
nav li{margin-right: 30px;font-weight: 500; font-size: 18px; }

/* To remove the anchor underline use this */
nav a{text-decoration: none; color: 424242;}


.small-title{font-size: 3rem; color: #727272; font-weight: 400; margin-top: 10px;}
.section-big{font-size: 3rem; color: #131313; font-weight: 700; margin-top: 10px; margin-top: 150px;margin-bottom: 40px;}
.banner-content{max-width: 800px;text-align: center;margin: 0 auto; }
.banner-title{font-size: 4rem; font-weight: 700; color: #131313}
.banner-description{ color: #727272 }
.banner img{width: 300px; margin-bottom: 10px;}
.banner{display: flex;border: solid 3px rgb(212, 183, 183); flex-direction: column;justify-content: center; align-items: center;}

/* main styles */
main{max-width: 1440px; margin:70px auto;}


/* teams style */
.teams-container{display: flex;align-items: center; margin-top: 120px;}
.teams-img-container{display:grid; grid-template-columns: repeat(2,1fr); gap:1.5rem;}
.teams-content{padding-right: 30px;padding-left:30px;}
.teams-title{font-size: 2.8rem;}
.teams-title .quick-list{color: #727272;font-weight:500;display: inline-block;}
.teams-title .features{color:#FF900E;font-weight:700;display: inline-block;margin: 0;}



/* facts section */
.facts-card-container {display: flex;justify-content: space-around;padding-top: 20px;padding-bottom: 20px;}
.facts-card-container .card{border-radius: 40px; border: solid 3px rgb(170, 109, 109);text-align: center; padding:10px;box-shadow: 0px 14px 80px RGBA(0,0,0,0.06);}
.facts-card-container .card-stats{font-size: 2.8rem;color: #424242; margin-top: 10px; margin-bottom: 10px;}
.facts-card-container .card-title {font-weight: 600; font-size: 1.25rem; margin-top: 5px;}
.feature-img img{height: 80%;margin-left: 90px;}
.cdi{width: 220px;height: 220px;object-fit: cover;padding: 90px 90px;border: solid 3px rgb(94, 43, 40);border-radius: 30%; box-shadow: #d19d9d; background-color: rgb(241, 141, 141);}



/* Features section */
.features{display: flex;margin-top: 130px; gap:100px ;}
.feature-content .card{border-radius:8px ; background:#fff; box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);padding: 15px 30px; margin-bottom: 20px;}
.feature-card-container{margin-top: 30px;}
.features .section-title{border-left: 5px solid #ff900e; padding-left: 20px;}
.ten-yr-badge{border-radius: 8px;background: #ff900e;color: white;width: 342px;padding: 40px;text-align: center;position: relative;bottom: 100px;}
.ten-yr-badge h2{font-size: 4rem; margin: 0px;}
.ten-yr-badge p{font-size: 1.5rem;}



/* sponsor section */
.sponsor{text-align: center;}
.sponsors-img-container{display: flex; justify-content:space-evenly; padding-top: 15px;}
.sponsors-img-container img{width: 165px;}









/* About Section */
.profile-image-container {
    margin-bottom: -120px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures content is centered vertically */
  }
  
  .profile-image {
    width: 300px; /* Image covers the container's width */
    height: 200px; /* Image covers the container's height */
    object-fit: cover; /* Ensures proper cropping without distortion */
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  




.about-me{ border: solid 3px rgb(212, 183, 183);
    margin-top: 130px;
    display: flex; flex-direction: column; align-items: center;
    border-radius: 10px;
    background-color: #FFF8F3;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 150px;
    text-align: center;
    border-radius: 10px;
}
.section-description{ border: 2px solid red;text-align: center; justify-content: center; width: 800px; }

.about-info-container{display:flex; justify-content: space-around; width: 70%;}
.info-title{font-size: 20px;color:#757575;width: 100%;}
.info-write{font-size: 20px;color:#424242;font-weight: 450; width: 70%;}







/* carousel section */


.teams-img-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; margin-top: 20px;
  }
  
  .teams-img-container img,
  #projectCarousel {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .carousel {height:300px;width: 100%;}
  .carousel img {
    object-fit:contain; height: 300px;
    
  }
  
















.section-title{ 
    text-align: center;
    margin-bottom: 50px;
    margin-top:200px;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    padding-top: 20px;
    
}



/* what i do styles */
.What-I-Do{margin-top: 130px;text-align: center;}
.skills-container{display: flex; gap:24px; margin-bottom:20px ;padding-left: 200px;padding-right: 200px;}
.skill{background: #FFFFFF;box-shadow: 8px 14px 80px RGBA(0,0,2,0.06);border-radius:12px; padding:30px;}
.skill-title{font-weight: 700;font-size:20px; margin-top:30px; margin-bottom:20px;}
.skill-description{color:#757575;}



/* resume Styles */
/* .resume{align-items: center;} */
.resume-container{display:flex; gap: 50px;justify-content:space-around ;padding-left: 200px;padding-right: 200px;padding-top: 20px;margin-top: 20px;}
.resume-column{text-align: center;}
.resume-column-title{font-size: 30px; color:#676767; font-weight:700px;text-align:left;}


.resume-item-title{color: #474747; font-weight: 700px;font-size: 25px;margin-bottom:10px;text-align:left;}
.resume-item-description,.resume-item-institute{color: #757575;text-align:left;}
.resume-container hr{margin-bottom:30px;margin-top:30px;padding-left: 180px;text-align:left;}
.resume-item-institute{margin-bottom: 20px;margin-top: 0px;text-align:left;}



.button{text-align: center; padding-top: 60px; padding-bottom: 50px;}



 
footer{background:#fff8f3;margin-top: 100px; display:flex;  padding-top: 20px; gap: 100px; padding-left: 200px;padding-right: 200px; padding-bottom: 20px; }
.footer-column{width: 50%;text-align: left;padding-right:150px;}
.contact input[type="text"], .contact input[type="email"],  textarea{display: block;margin-bottom: 25px; padding: 18px 35px;color: #757575;border-radius: 5px;background: #FFFFFF;border: 0;width:100%;}
.footer-description{padding-bottom: 30px;}
.social-links{padding-left:175px}
img{padding: 15px;}
.contact{padding-left: 135px;}








/* responsive media */
@media screen  and (max-width:576px)
{
    header {
        padding:20px;}
    nav, .teams-container,.contact,.footer-column,.facts-card-container,footer,.sponsors-img-container,.features,.about-me,.about-info-container,.section-description,.What-I-Do,.skills-container,.resume-container { flex-direction: column;}

    .teams-img-container,.skills-container,footer,.footer-column,.contact {grid-template-columns: 1fr;}
    .teams-title {font-size: 2.8rem; gap: 0; display: block;}

    .teams-content,.facts-card-container,.contact,.sponsors-img-container,.footer-column,.skills-container,footer,.resume-container{padding-left: 20px;padding-right: 20px;}
    .facts-card-container{gap: 20px;}
    .sponsors-img-container,.facts-card-container,footer,.footer-column{align-items: center;gap: 40px;}
    .feature-img img{width: 90%; margin-left: 10px;}
    .ten-yr-badge {position: static; max-width: 300px;}
    .contact{width: 250px;}
    .feature-img{display: none;}
    


}




/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px ) 
{

    header {
        padding:20px;}
    
    nav, .teams-container,.sponsors-img-container,.features{ flex-direction: column;}
    .sponsors-img-container{align-items: center;gap: 40px;}
    .facts,.sponsors{padding-left: 30px;padding-right: 2px;}
  
}


